body{
    background-color: #e2dbdb;
}
/*nav css*/
.navbar {
    
    background-color: #e2dbdb;
    height:10vh;  
    display: grid;
    grid-template-columns: 60% 40%;
    /*
    border-style:solid;  
    border-width: 2px;*/
    
}

.navbar a{
    color:black;
    margin: 0;
    vertical-align: middle;
    line-height: 10vh;
    text-decoration: none;
    font-size: 20px;
}
.navbar img{
    display:inline-block;
    vertical-align: middle;
    height:12vh;
    padding-left: 5px;

}
.navbar ul {
    /*left:7px;*/
    position: relative;
    display: block;
    list-style: none;
    padding:0;
    margin:0px;
}
.navbar li {
    padding:0px;
    text-align: center;
    display: inline-block;
    width:49%;
}

.navbar ul li:hover {
background: #90CAF9;
}
/*container css*/
.container{
    position: relative;
    width:100%;
    height:190vh;
    padding: 0 0 0;
    background-color: #e2dbdb;
    margin-top:20px;
}
.centerimg{
    position: relative;
    width:80%;
    margin-left:10%;
    background-image: url("../images/little_bush.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 80vh;
}
.introbox{
    top:25%;
    margin-left: 25%;
    width:50%;
    height:50%;
    background-color:#5a9e55;
    
    position: relative;
    /*box-sizing: border-box;*/
    
}
.introtext{
    top:20%;
    height: 50%;
    position: relative;
    margin-bottom: 12vh;
}
.infobutton{
    
    
    /*width:30%;*/
    /*margin-left:35%;*/
    background-color: white;
    padding-top: -10%;
    color:black;
    
}
.introbox a{
    line-height:5vh;
    margin-left:34%;
    margin-right:34%;
    display:block;
    text-decoration: none;
}
.infobutton p:hover{
    background-color: #e2dbdb;
}

/*products*/
.products{
    display:block;
    position: relative;
    top:10%;
    height:50vh;
}
.imgBoxRow{
    padding-left:2%;
    display:grid;
    grid-template-columns: 20% 20% 20% 40% ;
    grid-template-rows:20% 20% ;
    
}
.imgBoxColumn{
    padding-right:10px;
    flex: 50%;
}
.imgBoxRow img{
    margin-top: 8px;
    vertical-align: middle;
    /*padding-right: 10%;*/
}



#h2padding{
    padding-left: 2.5%;
}

.imgBox{
    padding-left:15%;
    position: relative;

}

/*footer*/
#footer{
    bottom:10px;
    padding-bottom: 20px;
    overflow: visible;
    
}
#contactLink{
    top:50px;
    position: relative;
    left:30%;
    width:40%;
    background-color: #5a9e55;
    margin-bottom: 30px;
    
}
#contactLink a{
    line-height:5vh;
    margin-left:34%;
    margin-right:34%;
    display:block;
    text-decoration: none;
    padding-bottom: 4%;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size:2.5vw;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size:1.5vw;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
}
li{
    font-family: 'Roboto', sans-serif;
}
.imgBoxColumn ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
}

/*about page*/
.about_main {
    padding: 2vh;
    height:80%;
    background-color: #5a9e55;
    padding-left:2%;
    display:grid;
    grid-template-columns: 40% 20% 20% ;
    grid-template-rows:50%;
    grid-row-gap: 2%;
}
.about_column{
    flex:50%;
}
/*styling the info form*/
.info_box{
    left:10vw;
    width: 80vw;    
    height: 60vh;
    background-color: var(--scolor);
    color: white;
    position: absolute;
    box-sizing: border-box;
    padding: 5vh 3vh;
    background-color: black;
}

.info_box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    color:var(--tcolor);
}
  
.info_box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color:var(--tcolor);
}
  
  .info_box input{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .info_box input[type = "text"], input[type = "password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--tcolor);
    font-size: 16px;
  }
  
  .info_box input[type = "submit"]{
    border: none;
    outline: none;
    height: 45px;
    color:var(--tcolor);
    background-color: #274196;
    font-size: 18px;
    cursor: pointer;
}
/*breaking up the info form into 2 columns*/
.info_main{
    
    padding: 2vh;
    height:80%;
    width:90%;
    padding-left:2%;
    display:grid;
    grid-template-columns: 25% 25%;
    
    column-gap: 50%;
}

.info_column{
    flex:50%;
}