body{
    background-color: #e2dbdb;
}
/*nav css*/
.navbar {
    
    background-color: #bbbdc9;
    height:10vh;  
    display: grid;
    grid-template-columns: 60% 40%;
    border-style:solid;  
    border-width: 2px;
}

.navbar a{
    color:black;
    margin: 0;
    vertical-align: middle;
    line-height: 10vh;
    text-decoration: none;
    font-size: 20px;
}
.navbar img{
    display:inline-block;
    vertical-align: middle;
    height:9vh;
    padding-left: 5px;

}
ul {
    /*left:7px;*/
    position: relative;
    display: block;
    list-style: none;
    padding:0;
    margin:0px;
}
.navbar li {
    padding:0px;
    text-align: center;
    display: inline-block;
    width:49%;
}

ul li:hover {
background: #90CAF9;
}
/*container css*/
.container{
    position: relative;
    width:100%;
    height:130vh;
    padding: 0 0 0;
    background-color: red;
}
.centerimg{
    position: relative;

    width:80%;
    margin-left:10%;
    top: 5%;
    height: 60vh;
    background-color: aqua;
}
.introbox{
    top:25%;
    margin-left: 25%;
    width:50%;
    height:50%;
    background-color:#5a9e55;
    position: relative;
    /*box-sizing: border-box;*/
    
}

.infobutton{
    line-height:5vh;
    width:30%;
    margin-left:35%;
    background-color: white;
    margin-bottom: 10px;
    
}
.introbox a{
    text-decoration: none;
}
.infobutton p:hover{
    background-color: #e2dbdb;
}

/*products*/
.products{
    
    display:block;
    position: relative;
    top:15%;
    height:50vh;
    
}
.imgBoxRow{
    padding-left:2%;
    display:grid;
    grid-template-columns: 20% 20% 20% 40% ;

    grid-template-rows:20% 20% ;
    grid-row-gap: 2%;
    
}
.imgBoxColumn{
    
    flex: 50%;
}
.imgBoxRow img{
    margin-top: 8px;
    vertical-align: middle;
    /*padding-right: 10%;*/
}






#h2padding{
    padding-left: 5%;
}

.imgBox{
    padding-left:15%;
    position: relative;


}

/*footer*/
#footer{
    bottom:0px;

    overflow: visible;
}
#contactLink{
    position: relative;
    left:30%;
    width:40%;
    background-color: darkgoldenrod;
}